<head>
    <script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>
</head>

<body>
    <footer class="footer">
        <div class="container row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">visit website</a></li>
                </ul>
            </div>
            <div class="contact-us">
                <h4>contact us</h4>
                <input name="email" type="email" class="feedback-input" placeholder="Email" />
                <textarea name="text" type="text" class="feedback-input" placeholder="your bla bla"></textarea>
                <button type="submit">SEND</button>

            </div>
            <div class="footer-col">
                <div style="padding-left: 23%;">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>