<section id="one">
    <nav id="nav">
        <div class="nav-logo">
            <div class="nav-heading">
                <span href="#"><'Task-Manager /></span>
            </div>
            <div class="hamburger">
                <a href="#"><i class="far fa-moon white "></i></a>
                <a href="#"><i class="fas fa-bars "></i></a>
            </div>
        </div>

        <ul class="nav-links">

            <li><a [routerLink]="['logIn/signUp']">SIGN UP</a></li>
            <li><a [routerLink]="['logIn/signIn']">SIGN IN</a></li>
            <li><a [routerLink]="['/homepage']">homepage</a></li>

        </ul>
    </nav>



    <div class="content">
        <div class="text-content">
            <h1 class="white">An advanced system for project management in any field.
            </h1>
            <h4 class="blackish">Efficient, transparent and accurate task management with an advanced and user-friendly
                platform</h4>
            <div class="two-button">
                <button class="w-btn btn" [routerLink]="['logIn/signUp']">Admin login</button>
                <button class="t-btn btn" [routerLink]="['logIn/signIn']">Sign In</button>
            </div>

        </div>
    </div>
</section>

<section id="one-half" class="goblack">
    <span><img src="../../assets/images/To-do list concept illustration.jpg" alt="" class="dog1__image"></span>

    <div class="half-content">
        <div class="half__text">
            <h1>About Us</h1>
            <p>We're here to improve your task management experience. With the help of advanced technologies and
                customized solutions, we enable you to manage projects in a smart and efficient way. With our management
                tools, you will be able to integrate, collaborate and track the progress of your projects clearly and
                accurately."</p>
        </div>
        <div class="half__boxes">
            <div class="box">
                <span href="#"><img style="width: 20px;height: 20px;padding: 30px;"
                        src="../../assets/images/mission.png"></span>
                <h2>Our Mission</h2>
                <p>Allow teams to focus on the principle and manage projects in a way that gives the best results.</p>
            </div>
            <div class="box">
                <span href="#"><img style="width: 20px;height: 20px;padding: 30px;"
                        src="../../assets/images/mission.png"></span>
                <h2>Our Vision</h2>
                <p>Make task management simpler and more efficient than ever.</p>
            </div>
        </div>
    </div>

</section>


<section id="two">
    <div class="heading ">
        <h1>What We Do</h1>
        <p class="lightblack">Share tasks, set priorities, and enjoy smooth and orderly project management.
            The perfect solution for efficient collaboration and excellent task management.</p>

    </div>


    <div class="container">
        <div class="info">
            <span><img src="../../assets/images/computer_img1.jpg" alt=""></span>
            <div class="info__text">
                <h1>Friendly platform</h1>
                <p>A user-friendly platform with an online user experience.</p>
            </div>
        </div>
        <div class="info">
            <span><img src="../../assets/images/To_do_list1_img.jpg" alt=""
                    style="width: 170%; padding-right: 180px;"></span>
            <div class="info__text">
                <h1>Correct division</h1>
                <p>Correct division of tasks with an emphasis on efficiency and quality.</p>

            </div>
        </div>
        <div class="info">
            <span><img src="../../assets/images/img1.jpg" alt=""></span>
            <div class="info__text">
                <h1>Perfect project</h1>
                <p>Share tasks, set priorities, and enjoy smooth and orderly project management.</p>
            </div>
        </div>
    </div>
</section>

<hr>
<section id="four">
    <article>
        <h1>Happy Customers</h1>
        <p>Our users note in particular the incredible efficiency of the application in the division of tasks. They see
            immediate results and a positive impact on their work processes with every task they are given.
        </p>
        <p>With the
            help of our solution, the projects move smoothly and quickly, enable easy and convenient collaboration and
            lead to impressive results and exemplary efficiency.</p>

        <p>Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quae, fugiat. Lorem
            ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula.</p>

        <div class="article__icon">
            <div class="customer__info">
                <span><img style="width: 40px;height: 40px;" src="../../assets/images/rating.png"> 100K+</span>
                <pre>         Customers</pre>
            </div>

            <div class="customer__info">
                <span><img style="width: 40px;height: 40px;" src="../../assets/images/satisfaction.png"> 100%</span>
                <pre>        Satisfaction</pre>
            </div>
        </div>
    </article>

    <div class="four__info">
        <div class="some__info">

            <div class="four__text">
                <h1>&#8220;</h1>
                <p>
                    Your application has changed my work life for the better! The efficiency in the division of tasks
                    has made our projects smoother and faster than ever.
                </p>
                <h4>Mario Spe</h4>
            </div>
        </div>

        <div class="some__info">

            <div class="four__text">
                <h1>&#8220;</h1>
                <p>
                    There is nothing like you! This solution has made our work easier and more enjoyable. Every project
                    goes through easily and with high dedication.
                </p>
                <h4>Petey Cru</h4>
            </div>
        </div>

    </div>

</section>

<hr>
<section id="five">
    <div class="dog__image"><img src="../.././assets/images/img1.jpg"></div>
    <div class="dog__container">
        <div class="dog__boxes">
            <div class="dog__box" style="padding: 20px;">
                <!-- <span><i class="fas fa-thumbs-up"></i></span> -->
                <h4>Friendly</h4>
                <p>A user-friendly platform with an online user experience.</p>
            </div>
            <div class="dog__box">
                <!-- <span><i class="fas fa-paw"></i></span> -->
                <h4>Collaborate</h4>
                <p>Collaboration and coordination between
                    team members is possible easily.</p>
            </div>
        </div>
        <div class="dog__boxes">
            <div class="dog__box">
                <!-- <span><i class="fas fa-bullhorn"></i></span> -->
                <h4>Smart way</h4>
                <p>Tools for resource management and
                    project scheduling in a smart way.</p>
            </div>
            <div class="dog__box">
                <!-- <span><i class="fas fa-cut"></i></span> -->
                <h4>Clearly</h4>
                <p>Planning and managing tasks in
                    a transparent and clear manner.</p>
            </div>
        </div>
    </div>

</section>

<hr>
<section id="six">
    <h3>Join Us</h3>
    <h1>Join dozens of other satisfied companies that use our services.</h1>
    <button class="btn w-btn2" [routerLink]="['logIn/signUp']">Join Us</button>
</section>
<hr>


<section id="seven" class="goblack">
    <div class="heading ">
        <h1>Latest News</h1>
        <p class="lightblack">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque,
            eaque ipsa quae ab illo inventore</p>

    </div>


    <div class="container container__bg goblack">
        <div class="info goblack">
            <span><img
                    src="../../assets/images/Download Smiling girl wearing casual clothes cartoon character standing and showing thumbs up positive gesture for free.jpg"
                    alt=""></span>
            <div class="info__text">
                <pre>                                            May 5, 2021</pre>
                <h1>Hello world!</h1>



                <h5 class="">READ MORE ></h5>
            </div>
        </div>
        <div class="info goblack">
            <span><img src="../../assets/images/pazzle_img.jpg" alt=""></span>
            <div class="info__text">
                <pre>                                             May 5, 2021</pre>
                <h1>How to keep your dog cool this summer</h1>



                <h5 class="">READ MORE ></h5>
            </div>
        </div>
        <div class="info goblack">
            <span><img src="../../assets/images/read_task_img.jpg" alt=""></span>
            <div class="info__text">
                <pre>                                              May 5, 2021</pre>
                <h1>Solution for grooming behavior problems</h1>



                <h5 class="">READ MORE ></h5>
            </div>
        </div>
    </div>

</section>









<app-footer></app-footer>