<!-- <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar> -->

<!-- <div class="container">
    <div id="section_1" style="display: grid; grid-template-columns: auto auto; ">
        <div class="paragraph2" style="padding-top: 20%;padding-left: 30%;">
            <h2>Section 1</h2>
            <p>bla bla bla</p>
        </div>
        <div>
            <img src="https://i.ibb.co/nP8H853/Mobile-login-rafiki.png" class="img_section1" alt="" />
        </div>
    </div> -->

<!-- <div id="section_1" style="display: grid; grid-template-columns: auto auto; ">
        <div class="paragraph2" style="padding-top: 20%;padding-left: 30%;">
            <h2>Section 1</h2>
            <p>bla bla bla</p>
        </div>
        <div>
            <img src="https://i.ibb.co/nP8H853/Mobile-login-rafiki.png" class="img_section2" alt="" />
        </div>
    </div> -->
<!-- 
    <div id="section_1" style="display: grid; grid-template-columns: auto auto; ">
        <div class="paragraph2" style="padding-top: 20%; padding-left: 30%;">
            <h2>Section 1</h2>
            <p>bla bla bla</p>
        </div>
        <div>
            <img src="https://i.ibb.co/nP8H853/Mobile-login-rafiki.png" class="img_section1" alt="" />
        </div>
    </div> -->
<!-- </div> -->




<!-- ------------------------------------------------------------------------------ -->


<!-- <header> -->
<!-- Top Navigation -->
<nav>
    <div class="nav-links">
        <div class="nav-main-links">
            <ul class="topnav">
                <!-- Main Logo -->
                <li>
                    <a href="index.html">TASK MANAGER</a>
                    <!-- <i class="fa-solid fa-mug-hot fa-2x logo"></i> -->
                </li>
                <!-- Desktop Nav Items -->
                <li><a class="desktop-nav-item" [routerLink]="['/employee/home-page-employee']">Employee</a></li>
                <li><a class="desktop-nav-item" [routerLink]="['/manager/home-page-manager']">Manager</a></li>
                <!-- Hamburger Menu Buttons -->
                <li>
                    <button class="hamburger-menu" aria-label="Open Navigation Menu">
                        <i id="ham-menu-icon" class="fa-solid fa-bars"></i>
                        <i id="ham-menu-close" class="fa-solid fa-square-xmark hidden"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div class="nav-secondary-links">
            <ul>
                <li>
                    <button class="button">Sign In</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main Content -->
<main style="padding-top: 5%;">
    <section class="primary-cta card-container">
        <div class="primary-cta-slogan card-item">
            <!-- <h2>
                    <span class="secondary-color">Summer </span><br /><span class="stroke">TuesYays</span>
                </h2> -->
            <img src="https://i.ibb.co/nP8H853/Mobile-login-rafiki.png" class="img_section1" alt="" />

        </div>
        <div class="primary-cta card-item text-block-padding column" style="border-radius: 12%;" id="section_1">
            <h1>Turn Tuesdays into TuesYays with </h1>
            <p>
                Every Tuesday in July, Kona Coffee rewards members can enjoy half
                off their favorite beverages.
            </p>
            <a class="button button-light no-decoration" href="#">Join now</a>
        </div>
    </section>

    <section class="primary-cta card-container">
        <div class="primary-cta card-item text-block-padding column" style="border-radius: 12%;" id="section_2">
            <h1>Turn Tuesdays into TuesYays </h1>
            <p>
                Every Tuesday in July, Kona Coffee rewards members can enjoy half
                off their favorite beverages.
            </p>
            <a class="button button-light no-decoration" href="#">Join now</a>
        </div>
        <div class="primary-cta-slogan card-item">
            <!-- <h2>
                    <span class="secondary-color">Summer </span><br /><span class="stroke">TuesYays</span>
                </h2> -->
            <img src="https://i.ibb.co/nP8H853/Mobile-login-rafiki.png" class="img_section1" alt="" />

        </div>
    </section>
    <section class="primary-cta card-container">
        <div class="primary-cta-slogan card-item">
            <!-- <h2>
                    <span class="secondary-color">Summer </span><br /><span class="stroke">TuesYays</span>
                </h2> -->
            <img src="https://i.ibb.co/nP8H853/Mobile-login-rafiki.png" class="img_section1" alt="" />

        </div>
        <div class="primary-cta card-item text-block-padding column" style="border-radius: 12%;" id="section_3">
            <h1>Turn Tuesdays into TuesYays </h1>
            <p>
                Every Tuesday in July, Kona Coffee rewards members can enjoy half
                off their favorite beverages.
            </p>
            <a class="button button-light no-decoration" href="#">Join now</a>
        </div>
    </section>

    <!-- <section class="card-container">
        <div class="notice text-block-padding">
            <h3 class="card-item notice">Notice</h3>
            <p class="card-item notice">
                *Summer TuesYays offer available at participating stores. Excludes
                ready to drink, bottled beverages and alcohol. Cannot be combined
                with other offers or discounts. Offer not available through
                delivery. Limit one per person.
            </p>
        </div>
    </section> -->
</main>


<!-- Footer -->

<app-footer></app-footer>
<!-- <footer style="background-color: black; color: beige;">
    <div class="footer-links">
        <ul>
            <li>
                <div class="about link-card">
                    <div class="link-top-card about-clickable">
                        <h3>About Us</h3>
                        <button aria-label="Expand to learn more about us" aria-expanded="false">
                            <i class="fa-solid fa-angle-down about-arrow"></i>
                        </button>
                    </div>
                    <ul class="link-bottom-card about-hidden hidden">
                        <li><a href="#">Our Company</a></li>
                        <li><a href="#">Our Coffee</a></li>
                        <li><a href="#">Stories and News</a></li>
                        <li><a href="#">Kona Archive</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Customer Service</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="careers link-card">
                    <div class="link-top-card careers-clickable">
                        <h3>Careers</h3>
                        <button aria-label="Expand to learn more about our careers" aria-expanded="false">
                            <i class="fa-solid fa-angle-down about-link careers-arrow"></i>
                        </button>
                    </div>
                    <ul class="link-bottom-card careers-hidden hidden">
                        <li><a href="#">Culture and Values</a></li>
                        <li><a href="#">Inclusion, Diversity, and Equity</a></li>
                        <li><a href="#">College Achievement Plan</a></li>
                        <li><a href="#">Alumni Community</a></li>
                        <li><a href="#">U.S. Careers</a></li>
                        <li><a href="#">International Careers</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="social-impact link-card">
                    <div class="link-top-card social-impact-clickable">
                        <h3>Social Impact</h3>
                        <button aria-label="Expand to learn more about our social impact" aria-expanded="false">
                            <i class="fa-solid fa-angle-down about-link social-impact-arrow"></i>
                        </button>
                    </div>
                    <ul class="link-bottom-card social-impact-hidden hidden">
                        <li><a href="#">People</a></li>
                        <li><a href="#">Planet</a></li>
                        <li>
                            <a href="#">Environmental and Social Impact Reporting</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="for-business-partners link-card">
                    <div class="link-top-card business-partners-clickable">
                        <h3>For Business Partners</h3>
                        <button aria-label="Expand to learn more about our partnerships" aria-expanded="false">
                            <i class="fa-solid fa-angle-down about-link business-partners-arrow"></i>
                        </button>
                    </div>
                    <ul class="link-bottom-card business-partners-hidden hidden">
                        <li><a href="#">Landlord Support Center</a></li>
                        <li><a href="#">Suppliers</a></li>
                        <li><a href="#">Corporate Gift Card Sales</a></li>
                        <li><a href="#">Office and Foodservice Coffee</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="order-and-pickup link-card">
                    <div class="link-top-card order-clickable">
                        <h3>Order and Pickup</h3>
                        <button aria-label="Expand to learn more about ordering and pickup options"
                            aria-expanded="false">
                            <i class="fa-solid fa-angle-down about-link order-arrow"></i>
                        </button>
                    </div>
                    <ul class="link-bottom-card order-hidden hidden">
                        <li><a href="#">Order on the App</a></li>
                        <li><a href="#">Order on the Web</a></li>
                        <li><a href="#">Delivery</a></li>
                        <li><a href="#">Order and Pickup Options</a></li>
                        <li><a href="#">Explore and Find Coffee for Home</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <hr />
    <ul class="social-media-links flex">
        <li>
            <a href="#">
                <i class="fa-brands fa-spotify"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-brands fa-pinterest-p"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </li>
    </ul>
    <ul class="supplemental-links">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">CA Supply Chain Act</a></li>
        <li><a href="#">Cookie Preferences</a></li>
    </ul>
    <p class="copyright">© 2022 Kona Coffee Company. All rights reserved.</p>
</footer> -->