<div class='task' draggable='true'>
  <div class='task__tags'><span class='task__tag task__tag--copyright'>Copywriting</span><button
      class='task__options'><mat-icon>favorite</mat-icon></button></div>
  <p>Check the company we copied doesn't think we copied them.</p>
  <div class='task__stats'>
    <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>
    <span><i class="fas fa-comment"></i>4</span>
    <span><i class="fas fa-paperclip"></i>0</span>
    <span class='task__owner'></span>
  </div>
</div>

<!-- export class Task {
    Id!: number;
    Title!: string;
    Description!: string;
    Status!: number;
    Level!: number;
    EmployeeId!: number;
    LanguageId!: number;
    DeadLine!: Date;
  } -->
<!-- <div class="card" *ngIf="!readMore; else readMore">
  <div class="main" >
    <h1>Title</h1>
    <p>circle of language ,circle of level of hard,circle of status</p>
    <p>DeadLine</p>
    <button (click)="readMorefun(false)">Read More</button>
  </div>
  <ng-template #readMore>
    <div>
      <p>Description</p>
      <button (click)="readMorefun(true)">Read More</button>
    </div>
  </ng-template>
</div> -->